body {
    font-family: Arial, Verdana, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    background-color:black;
    color: silver;
}

nav ul {
    font-size: 1em;
    color: black;
}

h1,h2 {
    text-align: center;
    padding-bottom: 10px;
    color: silver;
}

h3, h4, p{
    color: silver;
}

a:link {
    color: silver;
    font-weight: bold;
    font-size: 1.2em;
}

a:visited {
    color: silver;
}

a:hover {
    color:yellow;
}

#bannerCorrection {
    margin-top: 270px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

#boldun {
    font-weight: bold;
    text-decoration: underline;
}

#botbor {
    padding-top: 20px;
    padding-bottom: 20px;
}

#caro {
    color: #FFFF00;
    outline: black;
    font-weight: bold;
    font-size: 1.5em;
}

@media(max-width:600px) {
    .container-fluid {
        margin-top:0px;
    }
    nav ul {
        font-size:0.8em;
        max-height:100px;
    }
}