body {
    font-family: Arial, Verdana, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul {
    font-size: 2em;
    color: black;
}

h1,h2 {
    text-align: center;
    padding-bottom: 10px;
}

a:link {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

a:visited {
    color: black;
}

#bannerCorrection {
    padding-top: 170px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #000099;
    border-bottom: 2px solid black;
}

#boldun {
    font-weight: bold;
    text-decoration: underline;
}

#botbor {
    padding-top: 20px;
    padding-bottom: 20px;
}

#caro {
    color: #FFFF00;
    outline: black;
    font-weight: bold;
    font-size: 2em;
}