{% extends 'template_parent.html'%}
{% import 'template_macro.html' as macros%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title%} FFXIV Beginners {% endblock%}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar%}
    {{super()}}
{% endblock navbar %}

    
{% block content%}
<div class="container-fluid" style="margin-top:-50px; background-color:black; background-image:url('static/images/cm_bg.png'); background-repeat:no-repeat; background-position:center top;">
    <div id="bannerCorrection" class="text-center">
</div>
    <h2 class="text-center" style="padding-top:30px;"> 
        Here we'll go through the types of classes available to be played in FFXIV, and the ones you can start off with.</br>
        The class you pick determines which city you start in. In addition, once you complete your Level 10 Class Quest, you can unlock the other classes! Click on a class to see which city they belong to.
    </h2>

    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-4">
                <h2 id="boldun" class="text-left">Tank Classes:</h2>
                <ul>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/uldah">Gladiator</a></li>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/limsa">Marauder</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 id="boldun" class="text-left">Healer Class:</h2>
                <ul>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/gridania">Conjurer</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2 id="boldun" class="text-left">DPS Classes:</h2>
                <div class="col-md-4">
                    <ul>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/uldah">Pugilist</a></li>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/gridania">Lancer</a></li>
                </div>
                <div class="col-md-4">
                    <ul>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/limsa">Rogue</a></li>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/gridania">Archer</a></li>
                </div>
                <div class="col-md-4">
                    <ul>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/uldah">Thaumaturge</a></li>
                    <li><a href="https://ffwebsite-dickin14.c9users.io/limsa">Arcanist</a></li>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div id="tanks" class="carousel slide" data-ride="carousel">
                        
                <ol class="carousel-indicators">
                    <li data-target="#tanks" data-slide-to="0" class="active"></li>
                    <li data-target="#tanks" data-slide-to="1"></li>
                </ol>
                    
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="static/images/gld2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Gladiator</h3>
                            <p id="caro">Gladiator, the sword and shield tank. They use their high defense to take the brunt of enemy attacks.</p>
                        </div>
                    </div>
        
                    <div class="item">
                        <img src="static/images/mrd2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Marauder</h3>
                            <p id="caro">Marauder, the axe tank. They use their high health and brute strength to occupy the enemy.</p>
                        </div>
                    </div>
                </div>
        
                    <a class="left carousel-control" href="#tanks" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#tanks" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
        </div>
        <div class="col-md-4">
            <div id="healer" class="carousel slide" data-ride="carousel">
                        
                <ol class="carousel-indicators">
                    <li data-target="#healer" data-slide-to="0" class="active"></li>
                </ol>
                    
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="static/images/cnj2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Conjurer</h3>
                            <p id="caro">Conjurer, the spiritual healer. They use their cane and the power of the elementals around them to heal their comrades.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="dps" class="carousel slide" data-ride="carousel">
                        
                <ol class="carousel-indicators">
                    <li data-target="#dps" data-slide-to="0" class="active"></li>
                    <li data-target="#dps" data-slide-to="1"></li>
                    <li data-target="#dps" data-slide-to="2"></li>
                    <li data-target="#dps" data-slide-to="3"></li>
                    <li data-target="#dps" data-slide-to="4"></li>
                    <li data-target="#dps" data-slide-to="5"></li>
                </ol>
                    
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="static/images/pug2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Pugilist</h3>
                            <p id="caro">Pugilist, the fist-fighting damage dealer. They use their speed and power to deliver flurries of blows.</p>
                        </div>
                    </div>
        
                    <div class="item">
                        <img src="static/images/lnc2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Lancer</h3>
                            <p id="caro">Lancer, the spear-wielding damage dealer. They use their weapon to deliver precise, powerful strikes.</p>
                        </div>
                    </div>
                        
                    <div class="item">
                        <img src="static/images/rog2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Rogue</h3>
                            <p id="caro">Rogue, the stealthy damage dealer. They use their daggers to deliver quick, debilitating attacks.</p>
                        </div>
                    </div>
        
                    <div class="item">
                        <img src="static/images/arc2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Archer</h3>
                            <p id="caro">Archer, the long-range fighter. They use their bow to deliver rapid shots from afar.</p>
                        </div>
                    </div>
                        
                    <div class="item">
                        <img src="static/images/thm2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Thaumaturge</h3>
                            <p id="caro">Thaumaturge, the elementalist. They use the power of fire and ice to deliver powerful blasts and crippling strikes.</p>
                        </div>
                    </div>
        
                    <div class="item">
                        <img src="static/images/acn2.png">
                        <div class="carousel-caption">
                            <h3 id="caro">Arcanist</h3>
                            <p id="caro">Arcanist, the scholastic caster. They use their pets and spells to deliver enervating ailments.</p>
                        </div>
                    </div>
                </div>
        
                    <a class="left carousel-control" href="#dps" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#dps" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3>
                    A tank class is one that focuses on keeping the enemies attention by generating enmity (frequently called 'aggro', short for aggravation), or 'hate'</br>
                    They do this so that their allies can focus on dispatching the enemies without having to worry about getting attacked themselves.</br>
                    As such, tanks aren't the party members who deal the highest damage, but they are vital to success, and are often the leaders of their groups.
                </h3>
            </div>
            <div class="col-md-4">
                <h3>
                    A healer class is one that focuses on making sure their party members stay alive by healing their allies and removing any ailments or 'debuffs'.</br>
                    They can also give slight boosts to their party in the form of 'buffs', statuses which are helpful to the people they are affecting.</br>
                    As such, healers are the heart of the party, making sure everyone can do their job by keeping them healthy, and also dealing some damage too if they have time.
                </h3>
            </div>
            <div class="col-md-4">
                <h3>
                    A DPS (Damage Per Second) class is on that focuses on subduing enemies by dealing as much damage (per second) as they can (sometimes also called Damage Dealers).</br>
                    They all have their own positive statuses (buffs) that they can give to themselves or their party to help deal damage, or survive oncoming attacks.</br>
                    As such, the DPS are the bread and butter of the party. Since there are a lot of these classes, there's lots of variety to pick from, but also a lot of competition!
                </h3>
            </div>
        </div>
        <div class="row" style="padding-top:50px; text-align:center;">
            <div class="col-md-12">
                <h4>
                    If we've helped you pick a class, or you've started playing the game already, please think of a character name, write your server name (if you're playing), and tell us what class you picked and why!</br>
                    You can read yours and other viewers' reasons by clicking "Class Choices" in the navigation bar, and maybe find some new friends on your server too.
                </h4>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <h3 style="padding-top:20px;" class="text-center">Thank you for sharing!</br>If you'd like to see what other people have written, click 'Class Choices' in the navigation bar"</h3>
    </div>
</div>
{% endblock content %}
