{% extends 'template_parent.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} FFXIV Beginners {% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar%}
    {{super()}}
{% endblock navbar %}

{% block content %}
<div class="container-fluid" style="margin-top:-50px; background-color:black; background-image:url('static/images/cm_bg.png'); background-repeat:no-repeat; background-position:center top;">
    <div id="bannerCorrection" class="text-center">
        <h1 style="padding-top:30px;">Comments</h1>
</div>
    <div class="container">

        <ul class="entries">
            {% for entry in entries %}
                <li style="border-bottom: 2px solid black"><h2 class="text-left">{{ entry.charname|capitalize }}</h2><h3>{{ entry.server|capitalize }}</h3><h4 style="padding-bottom:20px;">{{ entry.gameclass|capitalize }}</br>{{ entry.reason }}</h4>
            {% endfor %}
        </ul>


    </div>
</div>
{% endblock %}