{% extends 'template_parent.html'%}
{% import 'template_macro.html' as macros%}

{% block title%} FFXIV Beginners {% endblock%}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar%}
    {{super()}}
{% endblock navbar %}

    
{% block content%}
    <h2> 
        Welcome to Gridania!
    </h2>

    <div id="botbor" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <center><img src="static/images/grid_new.png" alt="Map of New Gridania"></img></center>
            </div>
            <div class="col-md-6">
                <center><img src="static/images/grid_old.png" alt="Map of Old Gridania"></img></center>
            </div>
        </div>
    </div>
    
    {% set gridania = ['Lancer', 'Archer', 'Conjurer']%}
    {{macros.display_gridania(gridania)}}

{% endblock content %}
