{% extends 'template_parent.html'%}
{% import 'template_macro.html' as macros%}

{% block title%} FFXIV Beginners {% endblock%}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar%}
    {{super()}}
{% endblock navbar %}

    
{% block content%}
    <h2> 
        Welcome to Limsa Lominsa!
    </h2>

    <div id="botbor" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <center><img src="static/images/lim_low.png" alt="Map of the Lower Decks of Limsa Lominsa"></img></center>
            </div>
            <div class="col-md-6">
                <center><img src="static/images/lim_up.png" alt="Map of the Upper Decks of Limsa Lominsa"></img></center>
            </div>
        </div>
    </div>
    
    {% set limsa = ['Marauder', 'Rogue', 'Arcanist']%}
    {{macros.display_limsa(limsa)}}

{% endblock content %}
