{% extends 'template_parent2.html'%}
{% import 'template_macro2.html' as macros%}

{% block title%} FFXIV Beginners {% endblock%}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar%}
    {{super()}}
{% endblock navbar %}

    
{% block content%}
    <h2> 
        Welcome to FFXIV Beginners"</br>
        Wanted to get into basics yadda yadda don't know what classes and stuff? Here's a quick overview of the things!
    </h2>

    <div class="container-fluid">
        <div class="row">
            <div></div>
            
        </div>
    </div>
{% endblock content %}
