<!DOCTYPE html>
{% extends 'bootstrap/base.html'%}
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %} {% endblock title%}</title>
    {% endblock head %}
</head>
<body>
        {% block navbar %}
        {% include 'template_common.html'%}
        {% endblock navbar %}
    
        {% block content %}
        {% endblock content %}
</body>
</html>