<div class="container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div>
    <ul class="nav navbar-nav" class="list-inline">
      <li><a href="https://ffwebsite-dickin14.c9users.io">Home</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/gridania">Gridania</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/uldah">Ul'dah</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/limsa">Limsa Lominsa</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/classes">Classes</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/display">Class Choices</a></li>
    </ul>
  </div>
</nav>
</div>