{% macro display_uldah(uldah) %}
<h2>Classes in Ul'dah:</h2>
<ul class="list-inline">
    {% for classes in uldah%}
    <li>{{ classes }}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro display_gridania(gridania) %}
<h2>Classes in Gridania:</h2>
<ul class="list-inline">
    {% for classes in gridania%}
    <li>{{ classes }}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro display_limsa(limsa) %}
<h2>Classes in Limsa Lominsa:</h2>
<ul class="list-inline">
    {% for classes in limsa%}
    <li>{{ classes }}</li>
    {% endfor %}
</ul>
{% endmacro %}