<div class="container-fluid">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">FFXIV Beginners</a>
    </div>
  <div>
    <ul class="nav navbar-nav list-inline collapse navbar-collapse" id="myNavbar">
      <li><a href="https://ffwebsite-dickin14.c9users.io">Home</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/gridania">Gridania</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/uldah">Ul'dah</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/limsa">Limsa Lominsa</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/classes">Classes</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/display">Class Choices</a></li>
    </ul>
  </div>
</nav>
</div>