<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div>
    <div class="navbar-header">
      <img src="static/images/ffxiv-banner.png" alt="FFXIV:ARR Logo"></img>
    </div>
    <ul class="nav navbar-nav" class="list-inline">
      <li><a href="https://ffwebsite-dickin14.c9users.io">Home</a></li>
      <li><a href="gridania.html">Gridania</a></li>
      <li><a href="uldah.html">Ul'dah</a></li>
      <li><a href="limsa.html">Limsa Lominsa</a></li>
      <li><a href="https://ffwebsite-dickin14.c9users.io/classes">Classes</a></li>
    </ul>
  </div>
</nav>
<div id="bannerCorrection" class="text-center">
  <h1 style="font-weight:bold; font-size:4em;">Final Fantasy XIV Beginners</h1>
</div>