{% extends 'template_parent.html'%}
{% import 'template_macro.html' as macros%}

{% block title%} FFXIV Beginners {% endblock%}

{% block head %}
    {{super()}}
{% endblock %}

{% block navbar%}
    {{super()}}
{% endblock navbar %}

    
{% block content%}
    <h2> 
        Welcome to Ul'dah!
    </h2>

    <div id="botbor" class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <center><img src="static/images/ul_thal.png" alt="Map of Ul'dah's Steps of Thal"></img></center>
            </div>
            <div class="col-md-6">
                <center><img src="static/images/ul_nald.png" alt="Map of Ul'dah's Steps of Nald"></img></center>
            </div>
        </div>
    </div>
    
    {% set uldah = ['Gladiator', 'Pugilist', 'Thaumaturge']%}
    {{macros.display_uldah(uldah)}}

{% endblock content %}
